body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url("./assets/img/background.webp") no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
  background-color: #0b112f;
  color: #fff;
}

.App {
  padding-top: 5rem;
}

.header-title {
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 150px;
  font-weight: bold;
}

.attribute-name {
  font-size: 16px;
  letter-spacing: 2px;
  line-height: 150px;
}

.white {
  color: #fff;
}

.yellow {
  color: #d7a12e;
}

.off-white {
  color: #faefe8;
}

.error {
  color: #d9534f;
  font-size: 20px;
}

.characterColumn {
  display: flex;
  flex-direction: column;
  flex: 1 1 30%;
  background: rgba(13, 21, 48, 0.7);
  margin: 0 0.5rem;
  padding: 1rem;
}

.build {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 100px 100px 0 0;
  border-color: #d7a12e transparent transparent transparent;
}

.build p {
  top: 20px;
  left: 8px;
  font-weight: bold;
  position: absolute;
  margin: 0;
  padding: 0;
  color: #fff;
  transform: rotate(-45deg);
}

@media screen and (max-width: 767px) {
  .characterColumn {
    flex: 1 1 100%;
    margin: 0.5rem 0;
  }
}
